body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(6, 3, 30);
    width: calc(100% - 33px);
    color: white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

canvas {
    position: absolute;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.result-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.result-container>div {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 5px 0;
    color: white;
    text-transform: capitalize;
}

#age {}

#emotion {}

#gender {}

video {
    width: 100%;
    border: 3px solid #fefefe;
}

.header {
    width: 100%;
    min-height: 10vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 8px 64px;
}

.logo {
    width: 64px;
}

.logo_text {
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    font-size: 32px;
    color: white;
}